
:root {
    --bsf-headfoot: #2C3E50;
    --bsf-jumboabout:#1ABC9C;
    --bsf-around: #3A546D;
}

header {
    background-color: black;
    height: 70px;
}

.jumbotron,
.about {
    background-color: var(--bsf-jumboabout);
}

.about .card,
.jumbotron .card {
    background-color: var(--bsf-jumboabout);
    border: var(--bsf-jumboabout);
}

.line {
    height: 5px;
    width: 15%;
    border-radius: 20px;
}







