
:root {
    --bsf-headfoot: #2C3E50;
    --bsf-jumboabout:#1ABC9C;
    --bsf-around: #3A546D;
}

header {
    background-color: var(--bsf-headfoot);
}

.jumbotron,
.about {
    background-color: var(--bsf-jumboabout);
}

h1 {
    font-size: 3rem;
}

.about .card,
.jumbotron .card {
    background-color: var(--bsf-jumboabout);
    border: var(--bsf-jumboabout);
}

.line {
    height: 5px;
    width: 15%;
    border-radius: 20px;
}

.info {
    background-color: var(--bsf-around);
}

.info .card {
    background-color: var(--bsf-around);
    border: var(--bsf-around);
}

.info i {
    border: 1px solid white;
    border-radius: 50%;
    margin: 0 .5rem;
}

footer {
    background-color: var(--bsf-headfoot);
}

.start_bs {
    color: var(--bsf-jumboabout);
}









