
:root {
    --bsf-headfoot: #2C3E50;
    --bsf-jumboabout:#1ABC9C;
    --bsf-around: #3A546D;
    --bsf-port1: #BA4B63;
    --bsf-port2: #1EA4B6;
    --bsf-port3: #140F0F;
    --bsf-port4: #1C83C1;
    --bsf-port5: #0E38B5;
    --bsf-port6: #CCB2A3;
}

header {
    background-color: black;
    height: 70px;
}

.jumbotron {
    background-color: var(--bsf-jumboabout);
}

img .jumbotron {
    width: 50%;
}

.line {
    height: 5px;
    width: 15%;
    border-radius: 20px;
}

